[submodule "themes/osuny"]
	path = themes/osuny
	url = https://github.com/osunyorg/theme.git
[submodule "themes/osuny-plugin-single-page-application"]
	path = themes/osuny-plugin-single-page-application
	url = git@github.com:osunyorg/osuny-plugin-single-page-application.git
