$color-accent: #787878
$color-text: #FFFFFF
$color-text-alt: #CCCCCC
$color-border: rgba(0, 0, 0, 0.30)
$color-background-alt: #222222
$color-background: #000000
$color-action-background: #3F3F3F

// specifics
$color-background-light: #B1AEA8
$color-light: #4D5356
$color-hover: #FE5628
$color-dark-grey: #515151

// $body-font-family: "Pitch Sans", sans-serif
$body-font-family: "Untitled Sans", sans-serif
$heading-font-family: "Untitled Sans", sans-serif


// Link
$link-underline-offset: space()
$link-underline-thickness: 1px
// $link-transition: none
$link-unhover-decoration-color-alpha: 0

// header
$header-background: transparent
$header-sticky-background: transparent
$header-logo-height: pxToRem(11)
$header-logo-height-desktop: pxToRem(11)
$header-border-bottom-width: 0
$header-nav-padding-y: space(2)
$header-nav-padding-y-desktop: space(2)
$header-sticky-enabled: false

// hero
$hero-background-color: transparent
$hero-height: unset
$hero-height-desktop: unset

// footer
$footer-background-color: transparent
$footer-logo-height: pxToRem(26)
$footer-icons-enabled: false

$grid-gutter-xxl: space(2)
$grid-gutter-lg: space(2)
$grid-gutter: space(2)


// TYPO
$body-size-desktop: pxToRem(18)
$body-size: pxToRem(18)
$body-line-height: pxToRem(25.2)


// HEADINGS
$heading-font-weight: 400

// h1
$h1-size: pxToRem(36)
$h1-line-height: 105%
$h1-size-desktop: pxToRem(48)
$h1-line-height-desktop: 104%
$h1-weight: 400

// h2
$h2-size-desktop: pxToRem(48)
$h2-size: pxToRem(36)
$h2-line-height: 105%
$h2-weight: $heading-font-weight
$h2-letter-spacing: -0.04em

// h3
$h3-size-desktop: pxToRem(36)
$h3-size: pxToRem(36)
$h3-line-height: 105%
$h3-weight: $heading-font-weight
$h3-letter-spacing: -0.04em


// h4
$h4-size-desktop: pxToRem(18)
$h4-size: pxToRem(18)
$h4-line-height: pxToRem(20)
$h4-weight: $heading-font-weight
$h4-letter-spacing: -0.02em


$h5-size: $h1-size
$h5-line-height: $h1-line-height
$h5-text-transform: none
$h5-letter-spacing: -0.04em

$h6-text-transform: none

// lead
$lead-hero-size: $h1-size
$lead-hero-line-height: $h1-line-height
$lead-hero-size-desktop: $h1-size-desktop
$lead-hero-line-height-desktop: $h1-line-height-desktop
$lead-hero-letter-spacing: -0.04em

$small-size: pxToRem(18)
$small-size-desktop: pxToRem(14)

// components
$image-border-radius-desktop: pxToRem(8)
$image-border-radius: pxToRem(4)

// Buttons
$btn-font-size-desktop: pxToRem(14)
$btn-font-size: pxToRem(18)
$btn-padding: pxToRem(6) pxToRem(10) pxToRem(7)
$btn-padding-desktop: pxToRem(9) pxToRem(15) pxToRem(10)
$btn-min-width: 0
$btn-background: $color-action-background
$btn-hover-background: $color-text
$btn-hover-color: $color-background
$btn-min-width-desktop: 0
$btn-border-radius: space(25)
$btn-border: none
$btn-border-width: 0

$btn-small-padding: 0 pxToRem(8)
$btn-small-padding-desktop: 0 pxToRem(8)

$btn-large-padding-desktop: pxToRem(15) pxToRem(28)

$section-taxonomies-full-width: false

// blocks
$block-space-y-desktop: pxToRem(160)
$block-gallery-carousel-background: transparent