.block-video--player
    --block-space-y: var(--grid-gutter)
    background: none !important
    .video
        overflow: hidden
        border-radius: space(2)
    .block-content
        background: var(--color-background-alt)
        padding-left: 0
        padding-right: 0
        border-radius: space(2)
    @include media-breakpoint-up(desktop)
        .video
            max-width: columns(8)
            margin: auto
    @include in-page-without-sidebar
        .block-content
            display: block
