<li>
  <article class="container project {{ .Params.bodyclass }}" itemscope itemtype="https://schema.org/CreativeWork">
    <div class="project-content">
      <a href="{{ .Permalink }}">
        <h2 class="project-title">{{ .Title }}</h2>
      </a>
      <div class="project-taxonomy">
        {{ range .Params.taxonomies }}
          {{ with .categories }}
            <ul>
              {{ range . }}
                <li><a href="{{ .permalink }}">{{ safeHTML .name }}</a></li>
              {{ end }}
            </ul>
          {{ end }}
        {{ end }}
      </div>
      <div class="project-year">
        {{ partial "projects/partials/project/core/year.html" .Params.year }}
      </div>
    </div>

    {{ partial "projects/partials/project/media.html" (dict "project" . "layout" "grid" "type" "project") }}
  </article>
</li>
