.projects__section
    @include page-light
    .document-content
        z-index: 50
    .projects-archives-header
        margin-bottom: space(4)
    .projects-archives-list
        &, ul
            @include list-reset
        > li
            position: relative
            border-bottom: 1px solid var(--color-border)
        &.thumbnail-up
            .project
                .media
                    top: auto
                    bottom: 100%
        .project
            align-items: center
            justify-content: center
            padding: space(4) var(--grid-gutter)
            position: relative
            &-content
                position: relative
                > a
                    @include stretched-link
            &-title
                @include body-text
            &-taxonomy 
                a
                    position: relative
                    z-index: 2
                ul
                    li
                        display: inline
                        &:not(:last-of-type)
                            &::after
                                content: ', '
            &-year time
                color: var(--color-text)
            .media
                opacity: 0
                pointer-events: none
                position: absolute
                width: pxToRem(300)
                left: space(2)
                top: 100%
                margin-top: space(2)
                z-index: 4


    .block-call_to_action
        margin-top: space(4)
        margin-bottom: space(4)
        .call_to_action.call_to_action--without-image
            .top
                grid-column: 1 / 12 !important
            .description 
                max-width: unset
                p
                    @include h2
                    &:last-of-type
                        a:last-of-type
                            @extend .btn
                            @include inline-btn

    @include media-breakpoint-down(md)
        .projects-archives-header
            display: none

        .projects-archives-list
            li:first-child
                article
                    padding-top: 0
            .project-content
                gap: 0
                flex-wrap: wrap
                > *
                    width: 50%
                    &:first-child
                        text-align: left
                        padding-right: space(2)
                    &:nth-child(1n+3)
                        margin-top: space()
                        margin-left: 50%

        .project
            a
                text-decoration: none !important

    @include media-breakpoint-up(md)
        .project-year,
        .header-year
            text-align: right

        .projects-archives-header
            display: flex
            gap: var(--grid-gutter)
            .header-title,
            .header-taxonomy
                width: columns(5)
            .header-year
                width: columns(2)

        .projects-archives-list
            > li
                &:first-child
                    border-top: 1px solid var(--color-border)
            &:has(> li:hover)
                > li
                    opacity: 0.7
                    &:hover
                        opacity: 1

        .project
            .project-content
                gap: var(--grid-gutter)
                .project-title,
                .project-taxonomy
                    width: columns(5)
                .project-year
                    width: columns(2)
            &:hover .media
                opacity: 1
