header#document-header
    nav.primary-menu
        .menu
            .nav-level-1
                > li:last-child > a[target="_blank"]
                    @extend .button
                    @include button-small
            li
                a
                    @include link

        .header-button
            @include button-large
            @include button-alt
            @include blur-btn
            width: pxToRem(100)
            padding: pxToRem(10) pxToRem(22)

            span:first-of-type
                align-items: center
                display: flex
                justify-content: center
                text-transform: none
                line-height: $body-line-height
                &::before
                    content: ''
                    height: $spacing-1
                    width: $spacing-1
                    margin-right: space()
                    background-color: var(--color-text)
                    border-radius: 50%

            span:last-of-type::before
                content: none !important

            html:not(.has-menu-opened) &
                color: var(--color-text) !important

            .has-menu-opened &
                --color-text: #{$color-light}

    .logo
        // Cancel default darkmode behavior
        > img:first-child
            display: block !important
        .logo-darkmode
            display: none !important
        &:hover
            > img:first-child
                display: none !important
            .logo-darkmode
                display: block !important

    .header-cover
        display: none !important
        // @include container
        height: 100vh
        left: 0
        right: 0
        pointer-events: none
        position: absolute
        opacity: 0
        top: 0
        width: 100vw
        img, picture
            height: auto
            width: auto
            min-width: 100%
            max-width: none
        img
            object-fit: cover
            // object-position: top left

    .logo:hover ~ .header-cover
        opacity: 1

    @include media-breakpoint-up(md)
        nav.primary-menu
            .nav-level-1
                > li:first-child
                    display: none
            .menu:has(li:not(:first-child) a.active)
                a:not(.active, :hover)
                    opacity: 0.7

    @include media-breakpoint-down(desktop)
        transform: none !important
        .menu
            --btn-background: var(--color-text)
            --btn-color: #{$color-background-light}
            --color-text: #{$color-light}
            background: $color-background-light
            bottom: 0
            color: var(--color-text)
            display: flex
            height: 50svh
            left: 0
            position: fixed
            transform: translateY(100%)
            transition: transform 0.3s ease
            width: 100vw
            &.is-opened
                transform: translateY(0%)

            .nav-level-1
                padding: var(--grid-gutter)
                width: 100%
                > li
                    border: none !important
                    a
                        padding: 0
                    a + a
                        margin-top: $spacing-1
                    &:not(.has-children) a
                        @include h2
                .has-children
                    align-items: flex-start
                    display: flex
                    justify-content: space-between
                    gap: var(--grid-gutter)
                    margin-top: $spacing-3
                    > a
                        min-width: unset
                        padding: pxToRem(12.5) pxToRem(25.5) !important
                .dropdown-menu
                    display: block
                    a
                        padding: 0
                        text-decoration: underline
                        &::after
                            content: none
    
    @include media-breakpoint-up(desktop)
        nav.primary-menu
            .header-button
                display: none !important
